<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Course</title>
    <style>
        body {
            font-family: 'Verdana', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 15px;
            color: #555;
        }

        th {
            background-color: #2ecc71;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #ecf0f1;
        }

        .action-links a {
            display: inline-block;
            margin-right: 5px;
            text-decoration: none;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .action-links a:hover {
            background-color: #2980b9;
        }

        /* Additional style for the logout button */
        button.logout-btn {
            background-color: #e74c3c;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button.logout-btn:hover {
            background-color: #c0392b;
        }
    </style>
</head>
<body>
    <button class="logout-btn" onclick="location.href='/logout'">Log out</button>
<form>
        <input type="text" name="search" placeholder="Search by Title">
        <button type="submit">Search</button>
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
        <% course.forEach((el, index) => { %>
            <tr class="<%= index % 2 === 0 ? 'even' : 'odd' %>">
                <td><%= el.name %></td>
                <td><%= el.description %></td>
                <td><%= el.getduration %></td>
                <td class="action-links">
                    <a href="/course/delete/<%= el.id %>">Delete</a>
                    <a href="/course/edit/<%= el.id %>">Update</a>
                </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
